<%- include("header"); -%>
    <div id="hero-slider">
      <div class="hero-slide-item" style="background-image:url('images/mc.jpg');">
        <div class="hero-slider-marketing">
          <h2>Fit Mindset.</h2>
         
        </div>
      </div>

      <div class="hero-slide-item" style="background-image:url('images/arnold.jpg');">
        <div class="hero-slider-marketing">
  
          <h2>Fit Attitude.</h2>
          
        </div>
      </div>

      <div class="hero-slide-item" style="background-image:url('images/ronaldo.jpg');">
        <div class="hero-slider-marketing">
     
          <h2>Fit Body.</h2>
         
        </div>
      </div>
    </div>
  </section>


  <%- include("footer"); -%>
 
